/* @media screen and (max-width: 1286px) {
    svg {
      margin-top: 3.5rem;
    }
  }
  
  @media screen and (max-width: 1244px) {
    svg {
      margin-top: 5.5rem;
    }
  }
  
  @media screen and (max-width: 1172px) {
    svg {
      margin-top: 7.5rem;
    }
  }
  
  @media screen and (max-width: 1169px)  {
    svg {
      margin-top: 7.5rem;
    }
  }
  @media screen and (max-width: 1159px) {
    svg {
      margin-top: 10.5rem;
    }
  }
  @media screen and (max-width: 1094) {
    svg {
      margin-top: 14.5rem;
    }
  }
  @media screen and (max-width: 1086px)  {
    svg {
      margin-top: 14.5rem;
    }
  } */